    <div class="card">
      <h3 class="card-header">Sign Up</h3>
      <form id="signup-form" class="card-body">
        <label for="username-signup" class="form-label">Username</label>
        <input id="username-signup" type="text" class="form-input" />


        <label class="form-label" for="password-signup">Password</label>
        <input  id="password-signup" type="password" class="form-input" />

        <div class="form-button-layout">
        <button type="submit" class="btn">Sign up</button>
        <button class="btn-outline"><a class="link-blue" href="/login"><i class="fas fa-sign-in-alt" style="padding-right:8px;"></i>Log in</a></button>
      </form>
      </div>
    </div>

<script src="/javascript/signup.js"></script>